.parent {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0.5em;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1em;
    background-color: rgb(243, 243, 243);
}

.parent > div {
    border-radius: 1em;
    background-color: white;
    z-index: 1;
}

.calendar {
    grid-row: 1/6;
    grid-column: 1/5;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.tasks {
    grid-row: 1/6;
    grid-column: 5/11;
    display: flex;
    flex-direction: row;
}