.main {
    width: 100%;
    min-height: 100%;
    /* background-color: rgb(250, 250, 250); */
    overflow-y: scroll;
}

.usersContainer {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
}

.item {
    display: inline-block;
    min-width: 19.5em;
    width: calc(100%/5);
    aspect-ratio : 1 / 1;
    padding: 0.5em;
    overflow: hidden;
}

.descriptionItem {
    /* display: inline; */
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}