img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: white;
}

.propertyInformationSideBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em 1em 0;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: rgb(198, 198, 198);

}

.propertyInformationSideBar > * {
    margin-top: 2em;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;
}

.sideBarPropertyInfo {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

.sideBarPropertyInfo > * {
    display: block;
}

.sideBarItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.3em;
}

.sideBarItem:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.statusContainer {
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.informationContainer {
    flex: 3;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.notesContainer {
    grid-row: 6/11;
    grid-column: 6/11;
    padding: 1em;
}

.tasksContainer {
    padding: 1em;
    grid-row: 1/6;
    grid-column: 6/11;
     
}

.filesContainer {
    grid-column: 1/6;
    grid-row: 1/5;
    padding: 1em;
}

.activityContainer {
    grid-column: 1/6; 
    grid-row: 5/11;
    padding: 1em;
}

.containerLabel {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 2.5;
}

.content {
    height: calc(100% - 2.5em);
    overflow-y: scroll;
}




