.main {
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    padding: 1em;
}

.filesContainer {
    width: 100%;
}

.item {
    display: inline-block;
    min-width: 12em;
    width: calc(100%/8);
    aspect-ratio : 1 / 1;
    padding: 0.5em;
    overflow: hidden;
}

.descriptionItem {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}