.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
    overflow-y: scroll;
    background-color: rgb(243, 243, 243);
}

.roundedElem {
    border-radius: 0.5em;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em 1em 1em 1em;
    border-radius: 1em 1em 0.5em 0.5em;
}

.utilityContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    width: 100%;
}