.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.mainUpload {
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
}

.stepperContainer {
    flex: 1;
}

.content {
    flex: 9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}