
.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
    background-color: rgb(243, 243, 243);
}

.roundedElem {
    border-radius: 0.5em;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em 1em 0 1em;
}

.utilityContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    width: 100%;
}

.occupiedLabelStyle {
    background-color: rgb(239, 255, 236);
    padding: 0.5em;
    border-radius: 5px;
    color: rgb(61, 205, 61);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(61, 205, 61);
    font-size: 0.8em;
}


/* .imageMain {
    background-color: black;
    flex: 10;
    overflow: hidden;
    z-index: 1;
}

.imageMain img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
} */


